<!DOCTYPE html>
<html>
  <head>
    <title>Novo Produto</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Novo Produto</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'lista_produtos' %}" class="btn btn-secondary"
          >Cancelar</a
        >
      </form>
    </div>
  </body>
</html>
